<div class="logo">
  <h1>OTRX</h1>
</div>
<div class="container">
    <h2>Hello and welcome to Oldtimer - Rent - Exchange!</h2>
  <div style="padding-bottom: 35px;: ">
    <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
       class: "form-control",
       placeholder: "Where do you want to create your memory? ðŸŒ"
      %>
    <%= submit_tag "Search", class: "btn btn-info"%>
  <% end %>
  </div>
  <div class="text">
    <p style="margin-right: 600px;">No matter whether it is a dream wedding, a film prop or simply to fulfill a long-cherished dream - everyone will find the right classic car with us. From classics such as the VW Beetle Cabriolet or the Mercedes-Benz 220 to exotics such as the Citroen DS or the Vespa PX: we have everything a classic car heart desires.</p>
  </div>
  <h1 style="color: #F6DDBF; margin-top: 10px; margin-left: 20px; text-align: left;">Your Memory!!!</h1>
    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
            <br>
          <br>
        <br>
      <br>
    <br>
</div>
  <h4>Create memories with an unforgettable Old-Timer Experience</h4>
<div class="cards">
  <%= render 'partials/card1' %>
  <%= render 'partials/card2' %>
  <%= render 'partials/card3' %>
</div>
