<div class="car">
  <h1 style="text-align: center;">What a choice!</h1>
  <div class="offer" style="display: flex; padding-top: 20px;">
    <div class="image" style="padding-top: 20px;">
      <div width= 800px height= auto class= p-3/>
       <% if @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key %>
       <% else %>
        <img src="https://source.unsplash.com/1600x900/?oldtimer" width= 650px height= auto class= p-3/>
        <% end %>
      </div>
      <div style="padding-top: 20px; justify-content: space-between;">
        <img src="https://source.unsplash.com/1600x900/?wheel" width= 100px height= auto class= p-3/>
        <img src="https://source.unsplash.com/1600x900/?color" width= 100px height= auto class= p-3/>
        <img src="https://source.unsplash.com/1600x900/?oldtimer" width= 100px height= auto class= p-3/>
        <img src="https://source.unsplash.com/1600x900/?carseat" width= 100px height= auto class= p-3/>
        <img src="https://source.unsplash.com/1600x900/?smile" width= 100px height= auto class= p-3/>
        <img src="https://source.unsplash.com/1600x900/?oldtimer" width= 100px height= auto class= p-3/>
      </div>
    </div>
    <div class="car-infos" style="padding-left: 100px;">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1 style="color: #F6DDBF"><%= @car.name %></h1>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">Model</th>
                <td><%= @car.model %></td>
              </tr>
              <tr>
                <th scope="row">Brand</th>
                <td><%= @car.brand %></td>
              </tr>
              <tr>
                <th scope="row">location</th>
                <td><%= @car.location %></td>
              </tr>
            </tbody>
          </table>
          <h2 class="card-trip-pricing"><%= @car.renting_price %> $/day</h2>
          <%= link_to "Request now", new_car_rental_path(@car), class: "btn btn-primary"  %>
        </div>
        <div class="row mt-3">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <p><%= @car.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
